<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>Alan el preguntador</title>
    <link rel="icon" href="/assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/img/favicon.ico">
    <!-- inject:css -->
    <!-- endinject -->
    <base href="/" target="" />
  </head>
  <body>
    <div class="container">
        {{user.username}}
    </div>
    <!-- inject:js-->
    <!-- endinject -->
  </body>
</html>
