{% extends 'layout.html' %}

{% block content %}
<div class="container">

  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Inicia sesión</h1>
    {% if message.length>0 %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %}

    <!-- LOGIN FORM -->
    <form action="/login" method="post" name="login">
      <div class="form-group">
        <label>Usuario o correo</label>
        <input type="text" class="form-control" name="username">
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" name="password">
      </div>

      <button type="submit" class="btn btn-danger btn-lg">Empieza</button>
    </form>

    <hr>
    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
  </div>
</div>
{% endblock %}
